<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% spaceless %}
            {% block title %}
                {% if page is not null %}{{ page.title }}{% endif %}
            {% endblock %}
        {% endspaceless %}</title>
    <meta name="description" content="{% spaceless %}
        {% block description %}
            {% if page is not null %}{{ page.description.description }}{% endif %}
        {% endblock %}
    {% endspaceless %}"/>

    <meta name="robots" content="noindex, nofollow">

    {% block stylesheets %}
        <link href="{{ asset('vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('style/base.css') }}" rel="stylesheet">
    {% endblock %}

    {#<link rel="icon" type="image/x-icon" href="{{ asset('images/logo.png') }}"/>#}


</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('vendor/jquery/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/translator/'~ app.request.locale ~'.js') }}"></script>

    <script>
        var translator = new Translator();
        // console.log(translator.trans('capital_sth'));
    </script>
{% endblock %}
</body>
</html>