{% extends 'default/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('style/default/swot.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/fontello-19dace3a/css/fontello.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="swot-table">
        <div class="row hidden-xs hidden-sm">
            <div id="blank" class="col-md-2">
                <p class="test">czynniki</p>
            </div>
            <div id="helpful" class="col-md-5">
                <p class="test">Pozytywne</p>
            </div>
            <div id="harmful" class="col-md-5">
                <p class="test">Negatywne</p>
            </div>
        </div>

        <div class="row">
            <div id="internal" class="hidden-xs hidden-sm col-md-2">
                <p class="test">wewnetrzne</p>
            </div>
            <div id="strengths" class="col-xs-12 col-sm-6 col-md-5">
                <div class="list-head" >
                    <span class="list-title">Strengths</span>
                    <span class="icon-plus-2 add-button"></span>
                </div>
                <ul class="swot-list">
                    {# hidden #}
                    <li class="display-none">
                        <input type="text" name="item" class="swot-item" placeholder="Dodaj"/>
                        <span class="icon-cancel-2 remove-button"></span>
                    </li>
                </ul>
            </div>
            <div id="weaknesses" class="col-xs-12 col-sm-6 col-md-5">
                <p class="test">Weaknesses</p>
                <ul class="swot-list">
                    {# hidden #}
                    <li class="display-none">
                        <input type="text" name="item" placeholder="Dodaj"/>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div id="external" class="hidden-xs hidden-sm col-md-2">
                <p class="test">zewnetrzne</p>
            </div>
            <div id="opportunities" class="col-xs-12 col-sm-6 col-md-5">
                <p class="test">Opportunities</p>
                <ul class="swot-list">
                    {# hidden #}
                    <li class="display-none">
                        <input type="text" name="item" placeholder="Dodaj"/>
                    </li>
                </ul>
            </div>
            <div id="threats" class="col-xs-12 col-sm-6 col-md-5">
                <p class="test">Threats</p>
                <ul class="swot-list">
                    {# hidden #}
                    <li class="display-none">
                        <input type="text" name="item" placeholder="Dodaj"/>
                        <span class="glyphicon glyphicon-trash remove-button"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/swot/list.js') }}"></script>
    <script src="{{ asset('js/swot/index.js') }}"></script>

{% endblock %}