{% form_theme form 'bootstrap_3_layout.html.twig' %}

{{ form_start(form, { 'action': path(app.request.locale ~ '_fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
<div>
    <input class="btn btn-success" type="submit" value="{{ 'button.save'|trans }}"/>
    <a class="btn btn-danger"
       href="{{ path( app.request.locale ~ '_fos_user_profile_show') }}">{{ 'button.cancel'|trans }}</a>
</div>
{{ form_end(form) }}