{% extends 'default/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('style/user/user.css') }}" rel="stylesheet">
    <link href="{{ asset('style/user/analyses.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div class="jumbotron">
                {% include "_page_content.html.twig" %}

                {% include "_flash_messages.html.twig" %}

                <table class="table table-hover">
                    <tr>
                        <th class="matrix-id">{{ knp_pagination_sortable(pagination, 'ID', 'm.id') }}</th>
                        <th class="matrix-name">{{ knp_pagination_sortable(pagination, 'matrix.name'|trans, 'm.name') }}</th>
                        <th class="hidden-xs">{{ knp_pagination_sortable(pagination, 'matrix.created'|trans, 'm.created') }}</th>
                        <th class="hidden-xs">{{ knp_pagination_sortable(pagination, 'matrix.type'|trans, 't.name') }}</th>
                        <th class="action" colspan="2">{{ 'matrix.action'|trans }}</th>
                    </tr>
                    {% for matrix in pagination %}
                        <tr>
                            <td class="matrix-id">{{ matrix.id }}</td>
                            <td class="matrix-name">
                                <a href="{{ path( app.request.locale ~ '_swot', { id: matrix.id }) }}"
                                   title="{{ matrix.name }}">{{ matrix.name|cut(20) }}</a>
                            </td>
                            <td class="hidden-xs">{{ matrix.created|date('H:i d.m.Y') }}</td>
                            <td class="hidden-xs">{{ matrix.type.name|upper }}</td>
                            <td class="action">
                                <a class="btn btn-default"
                                   href="{{ path( app.request.locale ~ '_' ~ matrix.type.name, { id: matrix.id }) }}"
                                   title="{{ matrix.name }}"
                                   role="button">{{ 'matrix.show'|trans }}</a>
                            </td>
                            <td class="action">{{ render(controller('AppBundle:User:delete', {'request': app.request, 'id': matrix.id} )) }}</td>
                        </tr>
                    {% endfor %}
                </table>

                {# display navigation #}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/bootbox/bootbox.min.js') }}"></script>
    <script src="{{ asset('js/user/analyses.js') }}"></script>

{% endblock %}