{% extends 'default/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('vendor/fontello-be358433/css/fontello.css') }}" rel="stylesheet">
    <link href="{{ asset('style/matrix/matrix.css') }}" rel="stylesheet">
    <link href="{{ asset('style/matrix/themes/gentle.css') }}" rel="stylesheet">
    <link href="{{ asset('style/matrix/themes/paper_sheet.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

    {% set theme = app.request.cookies.get(matrixview.name ~ '_theme')  ?: 'classic-theme matrix-borders' %}

    <div class="row">
        <div class="col-xs-12">

            <div id="page-content" class="jumbotron">
                {% include "_page_content.html.twig" %}
            </div>

            {% form_theme form 'bootstrap_3_layout.html.twig' %}
            {{ form_start(form, {'attr': {'id': 'matrix-form'}}) }}

            <div id="{{ matrixview.id }}" class="{{ matrixview.class }} jumbotron {{ theme }}">
                {% include "_flash_messages.html.twig" %}
                <span id="m-name">{{ form_widget(form.name) }}</span>
                <div id="m-table">
                    {% for row in matrixview.rows %}
                        <div id="{{ row.id }}" class="{{ row.class }}">
                            {% for cell in row.cells %}
                                <div id="{{ cell.id }}" class="{{ cell.class }}">

                                    {% if cell.isfield %}
                                        <div class="matrix-head-list">
                                            <span class="list-title">{{ form_widget(attribute(form, cell.fieldname)) }}</span>
                                        </div>
                                    {% endif %}

                                    {% if cell.isitems %}
                                        <ul class="matrix-items-list">
                                            <li class="prototype-item">
                                                <button type="button" class="icon-cancel remove-button"></button>
                                                {{ form_widget(attribute(form, cell.itemsname).vars.prototype.name ) }}
                                            </li>

                                            {% for item in attribute(form, cell.itemsname) %}
                                                <li class="matrix-item">
                                                    <button type="button" class="icon-cancel remove-button"></button>
                                                    {{ form_widget(item.name) }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <button type="button" class="icon-plus add-button"></button>
                                    {% endif %}

                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div id="control-panel" class="jumbotron">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-md-offset-1 col-md-3 options">
                        <div class="checkbox">
                            <label>
                                <input id="preview-mode" type="checkbox" value="">
                                {{ 'matrix.preview_mode'|trans }}
                            </label>
                        </div>
                        {{ form_row(form.theme, {id: 'theme-select', value: theme }) }}
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-4 download">
                        <div>
                            <span>{{ 'matrix.download_as'|trans }}</span>
                        </div>
                        <div>
                            {% block form_buttons %}
                                {{ form_widget(form.json) }}
                                {{ form_widget(form.jpg) }}
                                {{ form_widget(form.png) }}
                            {% endblock %}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-offset-0 col-md-3 save">
                        {{ form_widget(form.save) }}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/html2canvas/html2canvas.js') }}"></script>
    <script src="{{ asset('vendor/jquery-ui-1.12.1.sortable/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('js/matrix/Matrix.js') }}"></script>
    <script src="{{ asset('js/matrix/Theme.js') }}"></script>
{% endblock %}