{% extends 'default/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('style/matrix/matrix.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/fontello-19dace3a/css/fontello.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 jumbotron">

            {% include "_page_content.html.twig" %}

            <div id="{{ matrixview.id }}" class="{{ matrixview.class }}">

                {% include "_flash_messages.html.twig" %}

                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                {{ form_start(form) }}

                <span id="m-name">{{ form_row(form.name) }}</span>

                <div id="m-table">
                    {% for row in matrixview.rows %}
                        <div class="{{ row.class }}">
                            {% for cell in row.cells %}
                                <div id="{{ cell.id }}" class="{{ cell.class }}">

                                    {% if cell.isfield %}
                                        <div class="head-list">
                                            <span class="list-title">{{ form_widget(attribute(form, cell.fieldname)) }}</span>
                                            {% if cell.isitems %}
                                                <span class="icon-plus-2 add-button"></span>
                                            {% endif %}
                                        </div>
                                    {% endif %}

                                    {% if cell.isitems %}
                                        <ul>
                                            <li class="prototype-item">
                                                {{ form_widget(attribute(form, cell.itemsname).vars.prototype.name ) }}
                                                <span class="icon-cancel-2 remove-button"></span>
                                            </li>

                                            {% for item in attribute(form, cell.itemsname) %}
                                                <li class="matrix-item">
                                                    {{ form_widget(item.name) }}
                                                    <span class="icon-cancel-2 remove-button"></span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}

                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>

                <div class="buttons">
                    {{ form_widget(form.save) }}
                    {{ form_widget(form.text) }}
                    {{ form_widget(form.json) }}
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/matrix/Matrix.js') }}"></script>
    <script src="{{ asset('js/matrix/index.js') }}"></script>

{% endblock %}